.token.selector{
     color: black;
 }
.token.property{
    color: black;
}
.token.function{
    color: black;
}

*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

#code{
    overflow: hidden;
    width: 100%;
}

#codeWrapper{
    padding: 16px;
    height: 100vh;
    display: flex;
}

#paper{
    position:fixed;
    right:0;
    width:50%;
    height:100%;
    background:gray;
    padding:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#paper > #content{
    display:none;
    padding: 26px;

    color: white;
    height:100%;
    width:100%;
}




#content {
    --borderWidth: 5px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
#content:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

li{
    list-style-position: inside;
}

@keyframes breath{
    0%{
        box-shadow: 0 0 10px rgba(0,0,0,1)
    }
    100%{
        box-shadow: 0 0 10px rgba(0,0,0,0.2)
    }
}